{%extends 'master_login.html'%}
{%block title %}Email Sent{%endblock%}
{% block logout%}
<li><a class="getstarted scrollto" href="{% url 'logout' %}">Log Out</a></li>
{%endblock%}
{% load static%}
{%block main%}
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="https://admin.simplisolve.us/dashboard/">Dashboard</a></li>
      <li>Email Sent for Date Selection</li>
    </ol>
  </div>
</section>
<!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">


  <main id="main">

    <div class="container" style="text-align:center;">

        <h1>Email has been sent to select interview date</h1>

        <!--<p class="thank-you-message">Email has been sent to select interview date</p>-->

        <!--<p>We appreciate your interest in joining our team. We'll review your application and get back to you soon.</p>-->

        <p>Have a great day!</p>

        {% comment %} <p class="back-to-home"><a href="/">Back to Home</a></a></p> {% endcomment %}

    </div>
  </div>
</section>

   </main><!-- End #main -->


  {%endblock%}
 


     
