<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            color: white;
        background-color: blue;
    border-radius: 10px;
    border-width: 5px;  
padding: 10px;
margin: 10px;   
 }
    </style>
</head>
<body>
    <h1>Meeting Link</h1>
    <a href="{% url 'inter' %}">BACK TO INTERVIEW DATA</a>
    <iframe src="https://calendly.com/dpkchoudhary103" height="600" width="100%"> </iframe>
</body>
</html>