table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.candidate-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.details-label {
    font-weight: bold;
}
#back1
{
    color:white;
    display: block;
    align-items: center;
    /* border: 2px solid green; */
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    font-weight:bolder;
    font-size: x-large;

}
#helo
{
border: 1px solid blue;
border-radius: 8px;
background-color:yellow;
color:black;
width: fit-content;
padding: 5px;
text-decoration: none;
font-weight: bold;
}